<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <h1>Who are you?</h1>
    <div class="img-row">
      <a href="/member-login">
        <img src="images/member-index.jpg" alt="member-index-pic">
      </a>
      <a href="/trainer-login">
        <img src="images/trainer-index.jpg" alt="trainer-index-pic">
      </a>
      <a href="/admin-login">
        <img src="images/admin-index.jpg" alt="admin-index-pic">
      </a>
  </div>

  <p1>Member</p1>
  <p2>Trainer</p2>
  <p3>Admin</p3>

</body>
</html>
