html, body {
    height: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: aqua; 
}

h1{
    font-size: 400%;
    text-align: center;
}

.img-row{
    height: 50%;
    width: 100%;
}
.img-row img {
    height: 100%;
    width: 33%;
}

p1 {
    font-size: 200%;
    position: absolute;
    left: 13%; 
}
p2 {
    font-size: 200%;
    position: absolute;
    width: 100%;
    text-align: center;
}
p3 {
    font-size: 200%;
    position: absolute;
    right: 13%; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 15px; 
    font-size: 20px; 
}

input[type="submit"] {
    width: 112%;
}

#register-link {
    text-align: center; 
    display: block; 
    width: 100%; 
    margin-left: 1%;
}

li {
    color: darkred;
    text-align: center; 
    display: block; 
    width: 100%; 
    margin-left: 1%;
}
